.container
  .row-fluid
    .span12
      .main-content
        %center
          %h2 
            Welcome Back
            =@admin.first_name
            to the Schmidt Family Farms Dashboard
  .row-fluid
    .span3
      .main-content
        .well
          %center
            %u
              %h4 New Orders
    .span6
      .main-content
        .well
          %center
            %u
              %h4 Orders that Need to Be filled
    .span3
      .main-content
        .well
          %center
            %u
              %h4 Orders Pending Payment