// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image:url('Paper_texture.png');
  background-repeat:no-repeat;
  background-position:center top;
  background-color:#f9f1e4;
}

.main-content {
  padding: 15px;
}

.header-top {
  background-image:url('red_header.png');
  background-repeat:yes;
  height: 43px;
}
.header-banner {
  background-image:url('redwoodbarn.png');
  background-repeat:yes;
  color:#ffffaa;
  font-size: 50px;
}


hr.one {
  border-color:#000000;
}

img.pic {
  border:10px solid #ffffff;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #990000, #660000);
  background-image: -ms-linear-gradient(top, #990000, #660000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#990000), to(#660000));
  background-image: -webkit-linear-gradient(top, #990000, #660000);
  background-image: -o-linear-gradient(top, #990000, #660000);
  background-image: linear-gradient(top, #990000, #660000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'990000, endColorstr='#'660000, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #ffffaa;
}

.navbar .divider-vertical {
  height: 0px;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #ffffaa;
}

div.navbar div.navbar-inner ul.nav a:hover {
    color: #fff !important; 
}

.order-form {
  border:3px dashed;
}