.container
  .row
    .span12
      .main-content
        %h2
          %center
            %u About Schmidt Family Farms
        %p We are a small family farm located in the prairies of Colorado. We raise quality natural beef, crossbred hogs, and lamb.
        %p My daughters and I work hard to bring natural hormone free and steroid free meats to our your table.  We humbly offer the highest quality gourmet beef and pork without the high gourmet cost, direct to you! We delivery from Denver to Colorado Springs, and are happy to answer your questions and emails any time. 
        %p Our commitment to quality includes: no hormones, no fillers, and no steroids.
        %p You can visit us on Facebook, Online, or at our farm located in Bennett, Colorado.