.container
  .row-fluid
    .span12
      .main-content
        %h3
          %u 
            %center All Natural Beef
        .media
          =image_tag('cow.png', :class=>'pic pull-right')
          .media-body
            %p.lead Our All Natural Colorado Beef is steroid, hormone and filler free. All our cattle are grass fed for the highest quality and best taste
            %h4{:class=>'media-heading'} Beef 
            %p We have several types of cattle including Red and Black Angus, Hereford and Hereford Cross and Wholestein Cross cattle. All of our cows are grass fed and are never given steroids or hormone shots. This means your meat is 100% natural beef with the best taste money can buy. 
            %p We grain finish our beef, which ensures you get that melt-in-your-mouth marbling in your meat without the fillers that you may find in supermarket meat. This is our most popular order.
            %p We approximate you will receive between 50-60% of the hanging weight in meat.  The other approximately 40% is bones, tendons and unusable parts. 
            %h5 On special request we can grass finish your beef. Keep in mind grass-finished beef has special cooking requirements.
          .media-body
            %center
              %h4{:class=>'media-heading'} Beef Prices
            %table{:class=>'table table-condensed table-bordered'}
              %thead
                %tr
                  %th
                  %th Whole Beef
                  %th Half Beef
                  %th Quarter Beef
              %tbody
                %tr
                  %th Price Per Pound:
                  %td $2.30/lb
                  %td $2.40/lb
                  %td $2.50/lb
                %tr
                  %th Approx Hanging Weight*:
                  %td 550-650 lbs
                  %td 275-325 lbs
                  %td 135-165 lbs
                %tr
                  %th Approx Price* Before Butcher:
                  %td $1265-$1495
                  %td $660-$780
                  %td $338-$413
  .row-fluid
    .span12
      .main-content
        %h5 *All prices and weights are approximate depending on the weight of the cow