.container
  .row-fluid
    .span12
      .main-content
        %h3
          %u 
            %center Chicken
        .media
          .media-body
            %p.lead We have Rhode Island Red chickens 
            %p Chicken is a family staple, so naturally we carry meat and egg-laying chickens. Our chickens are mostly Rhode Island Red chickens and we only sell them to you alive.  This means you can take them as egg-laying chickens or get some really fresh chicken for dinner. 
            %p
              %b Price:
            %p
              %b Large Chickens: $12/chicken
            %p
              %b Medium/Normal Chickens: $10/chicken