.container
  .row-fluid
    .span12
      .main-content
        %center
          %h3
            %u Contact Us
  .row-fluid
    .span6
      .main-content
        %h4 We would love to hear from you! Please feel free to contact us with any questions you may have. 
        %hr.one
        %p
          %h5 Hours:
          M-S: 8am-6pm
          %br Sun: Closed
        %p
          %h5 Phone Number:
          720-434-1322
        %p
          %h5 Email:
          natural@schmidtfamilyfarms.com
        %p
          %h5 Address:
          Schmidt Family Farms
          %br 10025 N. Schumaker Road
          Bennett, CO 80102
    .span6
      .main-content
        %p 
          :erb
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10025+N+Schumaker+Rd,+Bennett,+CO&amp;aq=0&amp;oq=10025+N.+Schumake&amp;sll=38.997934,-105.550567&amp;sspn=5.104978,10.17334&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=10025+N+Schumaker+Rd,+Bennett,+Colorado+80102&amp;ll=39.883989,-104.492083&amp;spn=0.023052,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <br />
            <small>
              <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=10025+N+Schumaker+Rd,+Bennett,+CO&amp;aq=0&amp;oq=10025+N.+Schumake&amp;sll=38.997934,-105.550567&amp;sspn=5.104978,10.17334&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=10025+N+Schumaker+Rd,+Bennett,+Colorado+80102&amp;ll=39.883989,-104.492083&amp;spn=0.023052,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a>
            </small>