.container
  .row
    .span12
      .main-content
        %h3
          %center
            %u Frequently Asked Questions
        %p
          %ul
            %li What is Natural Beef?
            %li Do you have grass fed AND grain finished beef?
            %li Do you have grass fed AND grass finished beef?
            %li What is hanging weight?
            %li What type of cattle do you have?
            %li What type of hogs do you have?
            %li Do you deliver?
        %hr.one
        .media
          .media-body
            %h4{:class=> 'media-heading'}What is Natural Beef?
            %p Natural beef means our cows are grass fed and grain finished.  They are not force fed in small pens. Instead they spend most of their days in the pastures and eat when they are hungry. They are not given any steroid or hormone shots.
        .media
          .media-body
            %h4{:class=> 'media-heading'} Do you have grass fed and grain finished beef?
            %p Our most popular order is our grass fed and grain finished, all-natural beef.  We do not force feed our cattle, instead the cows to choose when to eat the grain provided. This finishing process provides the delicious marbling found in our meat. Our beef is never injected with hormones or steroids even during the finishing process.   
        .media
          .media-body
            %h4{:class=> 'media-heading'} Do you have grass fed AND finished beef?
            %p Yes, upon request we can provide grass fed and finished beef.  Please keep in mind that grass finished beef may require special attention while cooking. Please see our 
            %a(href='/products/beef') 
              Beef 
            page and our 
            %a(href='/recipes')
              Recipe 
            page for more information.
        .media
          .media-body
            %h4{:class=> 'media-heading'} What is hanging weight?
            %p Hanging weight is the weight of the animal without the unusable parts. That is to say, its the weight of the animal without the head, skin, feet and internal organs. Usually the product price is based off of this weight. 
        .media
          .media-body
            %h4{:class=> 'media-heading'} What type of cattle do you have? 
            %p Our herd consists of several types of cattle, including but not limited to red and black angus, hereford, and angus cross cattle. 
        .media
          .media-body
            %h4{:class=> 'media-heading'} What type of hogs do you have? 
            %p Our herd consists of several types of hogs including but not limited to yorkshire, bluebutts, red and black hampshire, hereford cross, duroc and berkshire.
        .media
          .media-body
            %h4{:class=> 'media-heading'} Do you deliver? 
            %p We deliver for a small fee on orders of a full cow or more to the Front Range, Denver, and Colorado Springs areas. Pick up of your order may also be done at our farm in Bennett, Colorado by appointment only. You may also pick up your order from your butcher once your account has been settled. 