.container 
  .row-fluid
    .span6 
      .main-content
        %h2
          %center
            %u Welcome to Our Family Farm
        %center
          %p.lead
            Schmidt Family Farms is the home of naturally raised Colorado Front Range beef and pork. We provide our customers with meat from animals that are never injected with steroids or hormones. 
        %p
          Please visit our products page to order your prime beef or crossbred pork today. For details on our cows, hogs, chickens or to see more information about the farm see our 
          =link_to('about us', "/about")
          page, 
          =link_to('farm news', "/news") 
          or visit  us on 
          =link_to('Facebook', "https://www.facebook.com/SchmidtFamilyFarmsCo")
          
    .span6
      .main-content
        %p
          %center=image_tag('cow.png', :class=>'pic')
  .row-fluid
    .span6
      .main-content
        %p
          %center=image_tag('bacon.jpg', :class=>'pic')
    .span6
      .main-content
        %h3
          %center
            %u We Stand By Our Superior Quality Meats
        %ul
          %li Our beef is all natural with superior taste 
          %li All of our meat is steroid and hormone free
          %li We don't add fillers to our meat products
          %li Our meat is processed on a per order basis
          %li Our cattle are grass fed and grain finished
          %li At your request we can grass finish your beef
          %li We can offer USDA certified beef and hogs
      