.container
  .row-fluid
    .span12
      .main-content
        %h3
          %u 
            %center Lamb
        .media
          =image_tag('sheep_banner_sm.png', :class=>'pic pull-right')
          .media-body
            %p.lead Our Lamb comes from our own herd of suffolk and hampshire cross sheep.
            %p In fact that's some of our sheep pictured to the right! Our humble herd is allowed to roam free range on the farm. We only sell whole lambs. You can purchase a whole lamb and have it processed at the butchers or have it cleaned and spit roast it whole. Either way its going to be delicious!
            %br
              %b Price: $250/lamb