.container
  .row
    .span12
      .main-content
        %h2
          %center
            %u News and Happenings
        .media
          =image_tag('barn_sm.png', :class=>'pic pull-right')
          .media-body
            %h4{:class=>'media-heading'} November 2013:
            %p We updated our website! We would love to get feedback on our new web layout.  If you have suggestions for improvements please email us and let us know your ideas!