.container
  .row
    .span12
      .main-content
        %h2
          %center
            %u News and Happenings
        .media
          =image_tag('barn_sm.png', :class=>'pic pull-right')
          .media-body
            %h4{:class=>'media-heading'} February 2014:
            %h5 New Website
            %p We updated our website! We would love to get feedback on our new web layout.  If you have suggestions for improvements please email us and let us know your ideas!
            %hr
            %h5 R & R Tire and Auto
            %p We recommend R & R Tire and Auto for any of your mechanical needs. They are real people who care about the quality of your repair! There are locally owned and operated and are located right here in Strasburg, CO. Check them out on facebook, or stop by:
            %br 
            Facebook:
            =link_to('R & R Tire and Auto', 'http://www.facebook.com/RobertRobertTireandAutoStrasburgCO')
            %br Phone: 303-622-6501
            %br Address: 
            1491 Wagner St
            %br Strasburg, CO 80136
            %hr
            %h5 Blaire Lonneke - "Five point horse training"
            %p We want to recommed Blaire Lonneke if you have any horse training needs! She is a horse trainer and riding instructor who would love to talk to you. Visit her website for more information at 
            %br 
            Website:
            =link_to('Five Point Horse Training', 'http://www.fivepointhorsetraining.com')
            %br Email: Five_pht@yahoo.com
            Phone: 303-968-7345
            %br Address: 
            569 5th Ave
            %br Deer trail, CO 80105
            Or
            %br P.O. Box 212
            Deer trail, CO 80105
