.container
  .row
    .span12
      .main-content
        %h2
          %center
            %u News and Happenings
        %h4
          %u October 2013:
        %p
          We still have room for a few horses if anyone is interested in boarding a horse.  We will feed them Chaffhay Alfalfa and can blanket them upon request. Please see our Services page for more information