.container
  .row
    .span12
      .main-content
        %h2
          %center
            %u Products
        %p
          %center
            %b We sell beef, pork, chickens, and lamb year round as well as other meats when they are available. Our meats are then processed separately at the butcher of your choice, though we can recommend a butcher if you are interested. 
  .row
    .span12
      .main-content  
        .well    
          %p 
            Please click on a link below to learn more about each of our products:
          %ul 
            %li
              %a(href="/products/beef")
                Beef
            %li
              %a(href="/products/pork")
                Pork/Hogs
            %li
              %a(href="/products/chicken")
                Chickens
            %li
              %a(href="/products/lamb")
                Lamb
          
          