.container
  .row-fluid
    .span12
      .main-content
        %h3
          %u 
            %center Farm Services
        .media
          =image_tag('horses_sm.png', :class=>'pic pull-right')
          .media-body
            %h4{:class=>'media-heading'} Horse Boarding
            Schmidt Family Farms boards horses year round.  We feed our boarders high quality Chaffhaye Alfalfa. We can also blanket your horses on request. 
            %br 
              %b Price: $155/month
            %br
            %h4{:class=>'media-heading'} BBQ Pit Rentals
            Do you want a BBQ Hog but don't have anything to cook it in? We rent out a BBQ Pit that holds up to a 150lb hog.  If you are in our delivery area we will make arrangements to drop if off and pick it up from your event. 
            %br
              %b Price: $100/half day event
            %br