http://www.yelp.com/filtered_reviews/5U4Z2DrDvjv6B7KwjIfD9g?fsid=GOIVE6yh2wTDqvXhnHVpLw

5.0 star rating 3/24/2013
I bought some Black Angus Meat from Bobby at Schmidt Family Farms Natural Meats in colorado. It was lovely! All natural, no GMO, so GMO free is important to me. The price is fabulous! He also has wedding or event BBQ pig and hogs. We got the 1/4 beef bundle pack and the bulk meat whole pig. They were all butchered and packaged and he delivered!
Photo of HN N.
0 friends
3 reviews
HN N.
Englewood, CO